* {
    font-family: sans-serif;
}

header {
    display:inline;
}

#questionsPage, #highscoresPage, #finalScorePage {
    display: none;
}

button {
    color: white;
    background-color: blueviolet;
    border-radius: 5px;
}
